# ===========================
# Operating System Files
# ===========================

.DS_Store
Thumbs.db
Desktop.ini

# ===========================
# IDE Files
# ===========================

.idea/
.vscode/
*.iml

# ===========================
# Environment Variables
# ===========================

.env
.env.*

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Node
# ===========================

node_modules/

dist/

build/

# ===========================
# Java
# ===========================

target/

*.class

# ===========================
# IntelliJ
# ===========================

out/

# ===========================
# Temporary Files
# ===========================

*.tmp
*.temp